<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Alex's Portfolio</h1>
      <p class="lead-text-muted">Here are a series of my works that I have been developing over the last few months.</p>
      <p>
        <%= link_to 'More About Me', about_me_path, class: 'btn btn-primary' %>
        <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
      </p>
    </div>
</section>
