<h1>A little about me</h1>
<br>
      
  <div class="about-me-link-logos">
      <p>
      <a href="https://github.com/alexowens12" target="_blank"><%= fa_icon "github" %></a>
      </p>
      <p>
      <a href="https://www.linkedin.com/in/alex-r-owens-91085298/" target="_blank"><%= fa_icon "linkedin" %> </a>
      </p>
      <a href="https://rubygems.org/profiles/AlexOwens" target="_blank"><%= fa_icon "diamond"%>  </a>
      </p>
  </div>
      
   


