<div class="container">
  <div class="row">
    <div class="col-md-8"> 
      <h1>A little about me</h1>
      <span>or sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? olore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea volu</span>
    </div>
    <div class="col-md-4">
      <div class="container">
        <%= image_tag "linkedinprofile.jpg", width: 200, alt: "Profile Image" %>


        <div class="row about-me-link-logos ">
          
          <h5 class= "logo-link-address"> You can also check me out here too! </h5>
          
            <div class="col-md-4">    
              <a href="https://github.com/alexowens12" target="_blank"><%= fa_icon "github" %></a>
            </div>
            <div class="col-md-4">   
              <a href="https://www.linkedin.com/in/alex-r-owens-91085298/" target="_blank"><%= fa_icon "linkedin" %> </a>
            </div>
            <div class="col-md-4">    
              <a href="https://rubygems.org/profiles/AlexOwens" target="_blank"><%= fa_icon "diamond"%>  </a>
            </div>
        </div>
      </div>
    </div>

  
    </div>
  </div>
      
   


