<h1>A little about me</h1>
<br>
<a href="https://www.linkedin.com/in/alex-r-owens-91085298/"target="_blank"> Meet me on LinkedIn </a>
<br>
<a href="https://github.com/alexowens12"target="_blank"> My Work on Github </a>
<br>
<a href="https://rubygems.org/profiles/AlexOwens"target="_blank"> My RubyGems </a>

