<div class="inner cover">
  <h1 class="cover-heading">Built to Impress</h1>
  <p class="lead">Optimizing my skills as a Ruby on Rails Full Stack Developer, websites I touch will move from unpleasant, to elegant.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


        


